.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}











html, body, form, fieldset, table, tr, td, img {
  margin: 0;
  padding: 0;
  font: 100%/150% calibri,helvetica,sans-serif;
}




html,
body {
  height: 100%;
  margin: 0;
}
#root,
.App {
  height: 100%;
}
.LoginContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(61, 150, 247, 1) 0%,
    rgba(0, 0, 201, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.Left {
  flex: 2;
}
.LoginForm {
  flex: 1;
  max-width: 270px;
  min-width: 200px;
  padding: 30px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 25px;
}
.LoginFormTwo {
  flex: 1;
  max-width: 10000px;
  min-width: 100px;
  max-height: 20px;
  padding: 50px;
  background-color: #2b2e2a;
  text-align: center;
  border-radius: 2px;
  display: flex;
justify-content: center;
}
.userImage {
  position: relative;
    top: -45px; 
}
.userName {
  position: relative;
    top: -20px; 
}

.Right {
  flex: 2;
}

/*Home Page CSS*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  padding-right: 20px;
}
.profileIcon {
  background-color: darkgray;
  border-radius: 50%;
  padding: 5px;
  color: white;
  font-weight: bold;
}
.homeMain {
  display: flex;
  height: calc(100% - 53px);
}
.sideBar {
  flex: 1;
  background-color: #d3d3d3;
}
.mainContent {
  flex: 5;
}
.sideBarMain {
  list-style: none;
  margin: 0;
  padding: 15px !important;
}
.sideBarMain li {
  padding-bottom: 10px;
}
.sideBar ul li {
  cursor: pointer;
}

.activenav {
  color: blue;
}

.inactivenav {
  color: black;
}
.createMSRUl {
  padding: 5px 0px 0px 10px !important;
  list-style: none;
}

/*BC CSS*/

.bcMain {
  text-align: center;
}

.pcMain {
  text-align: center;
}
